<!DOCTYPE html>
<html>
    <head>
        <title>Canvas Creations</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
        <style type="text/css">
            body {
                margin-top: 4em;
            }
            
            form {
                width: 50%;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a class="item" href="/"><i class="html5 icon"></i></a>
                <a class="item" href="/creations">Canvas Creations</a>
                <div class="right menu">
                    <a class="item">Login</a>
                    <a class="item">Logout</a>
                    <a class="item">Sign Up</a>
                </div>
            </div>
        </div>