<% include ./partials/header %>

<h1>THIS IS THE CREATIONS INDEX PAGE!!!</h1>

<a href="/">Go Home</a>

<% creations.forEach(function(creation) { %>
    <h3><%= creation.title %></h3>
    <img class="ui medium rounded image" src="<%= creation.image_url %>">
    <a href="<%= creation.website_url %>" target="_blank">Website: <%= creation.title %></a>
<% }) %>

<% include ./partials/footer %>