<% include ./partials/header %>

<div class="ui container">
    <div class="ui huge message">
        <h1 class="ui massive header">
            <i class="html5 icon"></i>
            <div class="content">
                Canvas Creations
                <div class="sub header">
                    Exploring the wonders of the HTML canvas element
                </div>
            </div>
        </h1>
    </div>
    <div class="ui grid container">
        <% creations.forEach(function(creation) { %>
            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                <h3 class="ui top attached header">
                    <%= creation.title %>
                </h3>
                <div class="ui attached segment">
                    <a class="ui fluid rounded image" href="<%= creation.website_url %>" target="_blank">
                        <img class="ui fluid image" src="<%= creation.image_url %>">
                    </a>
                </div>
            </div>
        <% }) %>
    </div>
    <a href="/">Go Home</a>
</div>

<% include ./partials/footer %>