<!DOCTYPE html>
<html>
    <head>
        <title>Canvas Creations</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>
        <div id="flash-message" class="ui container">
            <% if (success && success.length > 0) { %>
                <div class="ui positive message">
                    <div class="header">
                        <%= success %>
                    </div>
                </div>
            <% } %>
            <% if (error && error.length > 0) { %>
                <div class="ui negative message">
                    <div class="header">
                        <%= error %>
                    </div>
                </div>
            <% } %>
        </div>
        
        <div id="landing-header" class="ui inverted container">
            <h1 id="landing-icon-header" class="ui center aligned icon inverted header">
                <i class="html5 icon"></i>
                CANVAS CREATIONS
            </h1>
            <a class="ui large violet button" href="/creations">View All Creations</a>
        </div>

        <img id="landing-image" src="https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg">

<% include ./partials/footer %>